/* Fonts */
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* Variables */
:root {
  --color-page: hsl(0, 0%, 8%);
  --color-grey: hsl(0, 0%, 20%);
  --color-dark-grey: hsl(0, 0%, 12%);
  --color-white: #fff;
  --color-accent: hsl(75, 94%, 57%);
}

/* Base style */
*, *::before, *::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Buttons */
.btn {
  border: 0;
  font-size: 1.8rem;
  padding: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary {
  background: var(--color-grey);
  color: var(--color-white);
  transition: color 0.3s, background-color 0.3s;
}

.btn--block {
  width: 100%;
}

.btn--primary:hover, .btn--primary:focus {
  background-color: var(--color-accent);
  color: var(--color-dark-grey);
  outline: 0;
}

/* Avatar */
.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar__pic {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Cards */
.container {
  background: var(--color-page);
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  align-self: center;
  width: 100%;
  max-width: 40rem;
  border-radius: 15px;
  overflow: hidden;
  padding: 3rem 2.3rem;
}

.card__header, .card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__avatar {
  margin-bottom: 2rem;
}

.card__name {
  color: var(--color-white);
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__location {
  color: var(--color-accent);
  margin-bottom: 2rem;
}

.card__description {
  color: var(--color-white);
  margin-bottom: 2rem;
}

.card--grey {
  background: var(--color-dark-grey);
}

@media screen and (min-width: 768px) {
  .card {
    margin: auto;
  }
}

/* utilities */
.attribution { font-size: 11px; text-align: center; color: white; margin-top: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }